# ========================================
# Dependencias
# ========================================
/node_modules

# ========================================
# Logs
# ========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# ========================================
# Builds y compilados
# ========================================
/dist
/build
/*.tsbuildinfo

# ========================================
# Archivos de entorno (⚠️ sensibles)
# ========================================
# Archivos de entorno
.env
.env.local
.env.*.local


# ========================================
# Cache y temporales
# ========================================
*.tmp
*.swp
/.cache

# ========================================
# IDEs y editores
# ========================================
.vscode/
.idea/

# ========================================
# Archivos del sistema
# ========================================
.DS_Store
Thumbs.db
